/* sidebar controller.............................................. */

.button {
  position: absolute;
  background-color: #02303B; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 0px 0px;
  cursor: pointer;
}

/* PROFILE CARD............................................. */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}


/* DRAG.............................................. */

#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

#mydivheader {
  padding: 10px;
  cursor: context-menu;
  z-index: 10;
  background-color: #392521;
  color: #fff;
}


/* WHEELS.............................................. */

.wheels {
  border: 10px solid #f3f3f3;
  border-radius: 100%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* TABBED NAVIGATION.............................................. */
    
    .tablink {
      background-color: #555;
      color: white;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      font-size: 17px;
      width: 25%;
    }

    .tablink:hover {
      background-color: #777;
    }

    /* Style the tab content */
    .tabcontent {
      color: white;
      display: none;
      padding: 50px;
      text-align: center;
    }

       .TopHeader {color: white; padding: 30px;  text-align: center;}


    #London {background-color:#392521;} /* red */
    #Paris {background-color:#174134;}       /* green */
    #Tokyo {background-color:#111C2C;}
    #Oslo {background-color:#471926;}     /* orange */


       #TopHeader {background-color:#02303B;} 

    /* TABBED NAVIGATION.............................................. */